# dependencies
node_modules/
/.venv
# build
dist/
build/
.next/
.expo/

# env
.env
.env.*

# logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# vscode
.vscode/

# generated
coverage/

# claude
CLAUDE.md
.claude