# dependencies
node_modules/
/.venv
# build
dist/
build/
.next/
.expo/

# env
.env
.env.*
!.env.example
!**/.env.example

# logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# vscode
.vscode/

# generated
coverage/

# claude
CLAUDE.md
.claude

#plan
github-only-mvp-use-cases-flows-backlog.md
mongodb-database-design.md
phan-cong-cong-viec-chi-tiet-5-thanh-vien.md
team-allocation-5-members.md
